@model IEnumerable<OnlineShopApi.ViewModels.Product.GetBasketViewModel>

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerUnit)
        </td>
        <td>
            @Html.ActionLink("+", "add_product_to_basket", new { id=item.Id }) |
            @Html.ActionLink("-", "delete_product_from_basket", new { id=item.Id })
        </td>
    </tr>
}

</table>
